
$main-color = #BFB8FF
$main-color-dark = rgba(245,193,187,0.9)
$sub-color = #82CCFF
$sub-color-dark = rgba(245, 240, 242,0.9)
$btn-text-color = #000000
$title-color = #000000
$title-color-dark = #999999
$hover-color = #bbc5cf
$active-color = #93a3b3